<nav class="navbar menu">
    <div class="container-fluid">
        <table>
            <td>
                <tr class="tam tam-btn">
                    <img src="../../../assets/icon-back.png" class="img-fluid" alt="...">
                </tr>
            </td>
            <td>
                <tr class="tam">
                    <img src="../../../assets/icon-banc.png" class="img-fluid" alt="...">
                </tr>
            </td>
            <td>
                <tr class="tam tam-btn">
                    <img src="../../../assets/icono-menu.png" class="img-fluid" alt="...">
                </tr>
            </td>
        </table>
    </div>
</nav>
<hr>
<div class="container">
    <div class="contenedor">
        <table class="tabla">
            <td>
                <tr>
                    <h2><span>Flotas La Macarena </span></h2>
                </tr>
                <tr>
                    <p class="nit">NIT: 800 220 154</p>
                </tr>
                <tr>
                    <p class="estilo">Capa: Oro Segmento: Aval</p>
                </tr>
            </td>
        </table>
    </div>
    <hr>
    <p class="texto">Indique la línea de crédito que quiere reconsiderar</p>
    <br>
    <div class="row row-center">
        <div class="col-sm-2 tam-col">
            <div class="card">
                <div class="card-body borde">
                    <img src="../../../assets/cartera ordinaria.png" class="img-fluid img-tam" alt="...">
                    <h5 class="card-title titulo cartera">Cartera Ordinaria</h5>
                    <button type="button" class="btn-continuar">Continuar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2 tam-col">
            <div class="card">
                <div class="card-body borde">
                    <img src="../../../assets/leasing.png" class="img-fluid img-tam" alt="...">
                    <h5 class="card-title titulo leasling">Leasing</h5>
                    <button type="button" class="btn-continuar">Continuar</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
  </svg>

    <div class="row">
        <div class="row-center">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div style="color: rgb(247, 196, 103);">
                    Las demás lineas de crédito no estarán disponibles por el momento
                </div>
            </div>
        </div>
    </div>
</div>