<main>
    <form [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        <h1 mat-dialog-title> Agregar producto</h1>
        <div class="grid-container">
            <div class="row">
                <div class="item item-25">
                    <mat-form-field floatLabel="always">
                        <mat-label>Nombre producto</mat-label>
                        <input matInput placeholder="Nombre" formControlName="name">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
                <div class="item item-25">
                    <mat-form-field floatLabel="always">
                        <mat-label>Decripción</mat-label>
                        <input matInput placeholder="Description" formControlName="description">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
                <div class="item item-25">
                    <mat-form-field floatLabel="always">
                        <mat-label>Referencia</mat-label>
                        <input matInput placeholder="Reference" formControlName="reference">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
                <div class="item item-25">
                    <mat-form-field floatLabel="always">
                        <mat-label>Cantidad</mat-label>
                        <input matInput placeholder="Cantidad" formControlName="cant">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
    <div class="item item-100" style="text-align: right;">
        <button mat-raised-button class="btn-save" (keydown.enter)="tinyAlert()" (click)="tinyAlert()">Guardar</button>
    </div>
</main>