<main>
    <form [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
        <div class="contenedor-login">
            <table>
                <tr>
                    <td>
                        <h3 class="title">INICIO DE SESIÓN</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../../../assets/inventario.png" alt="logo">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content-input">
                            <input formControlName="username" placeholder="Usuario">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content-input">
                            <input formControlName="password" placeholder="Contraseña">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-raised-button (keydown.enter)="validarCredenciales()" (click)="validarCredenciales()">Accent</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</main>