        // Custom Theming for Angular Material
        // For more information: https://material.angular.io/guide/theming
        @import '~@angular/material/theming';
        // Plus imports for other components in your app.
        // Include the common styles for Angular Material. We include this here so that you only
        // have to load a single css file for Angular Material in your app.
        // Be sure that you only ever include this mixin once!
        @include mat-core();
        // Define the palettes for your theme using the Material Design palettes available in palette.scss
        // (imported above). For each palette, you can optionally specify a default, lighter, and darker
        // hue. Available color palettes: https://material.io/design/color/
        $store-inventory-primary: mat-palette($mat-indigo);
        $store-inventory-accent: mat-palette($mat-pink, A200, A100, A400);
        // The warn palette is optional (defaults to red).
        $store-inventory-warn: mat-palette($mat-red);
        // Create the theme object. A theme consists of configurations for individual
        // theming systems such as "color" or "typography".
        $store-inventory-theme: mat-light-theme(( color: ( primary: $store-inventory-primary, accent: $store-inventory-accent, warn: $store-inventory-warn, )));
        // Include theme styles for core and each component used in your app.
        // Alternatively, you can import and @include the theme mixins for each component
        // that you are using.
        @include angular-material-theme($store-inventory-theme);
        /* You can add global styles to this file, and also import other style files */
        
        html,
        body {
            height: 100%;
        }
        
        body {
            margin: 0;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        
        h1 {
            font-size: large;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: rgb(67, 98, 167);
        }
        
        .container-principal {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .container-secundario {
            width: 96%;
            height: 97%;
            background: rgba(255, 255, 255, 0.144);
            -webkit-box-shadow: 0px 0px 10px 2px rgba(194, 194, 194, 1);
            -moz-box-shadow: 0px 0px 10px 2px rgba(194, 194, 194, 1);
            box-shadow: 0px 0px 10px 2px rgba(194, 194, 194, 1);
        }
        
        .grid-container {
            border: black 2px solid;
            height: 99%;
            width: 100%;
        }
        
        .row {
            display: grid;
            grid-template-columns: auto;
            height: 60px;
            width: auto;
            margin: 1%;
            border: darkred solid 2px;
        }
        
        .item {
            grid-row: 1 / 1;
            margin: 0;
            padding: 0;
            border: 2px solid black;
            width: auto;
            height: 60px;
        }
        
        .item-5 {
            width: 5%;
            background: darkgrey;
        }
        
        .item-10 {
            width: 10%;
            background: coral;
        }
        
        .item-15 {
            width: 15%;
            background: cadetblue;
        }
        
        .item-20 {
            width: 20%;
            background: cadetblue;
        }
        
        .item-25 {
            width: 25%;
            background: cadetblue;
        }
        
        .item-30 {
            width: 30%;
            background: cadetblue;
        }
        
        .item-35 {
            width: 35%;
            background: cadetblue;
        }
        
        .item-40 {
            width: 40%;
            background: cadetblue;
        }
        
        .item-45 {
            width: 45%;
            background: cadetblue;
        }
        
        .item-50 {
            width: 50%;
            background: cadetblue;
        }
        
        .item-55 {
            width: 55%;
            background: cadetblue;
        }
        
        .item-60 {
            width: 60%;
            background: cadetblue;
        }
        
        .item-65 {
            width: 65%;
            background: cadetblue;
        }
        
        .item-70 {
            width: 70%;
            background: cadetblue;
        }
        
        .item-75 {
            width: 75%;
            background: cadetblue;
        }
        
        .item-80 {
            width: 80%;
            background: cadetblue;
        }
        
        .item-85 {
            width: 85%;
            background: cadetblue;
        }
        
        .item-90 {
            width: 90%;
            background: cadetblue;
        }
        
        .item-95 {
            width: 95%;
            background: cadetblue;
        }
        
        .item-100 {
            width: 100%;
            background: cadetblue;
        }
        
        .mat-form-field {
            // background: darkred;
            max-width: auto;
            margin: 1%;
            padding: 1%;
        }
        
        .mat-checkbox-ripple .mat-ripple-element,
        .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: rgba(32, 79, 122, 0.8);
        }
        
        .btn-save {
            background-color: rgba(70, 168, 24, 0.8);
            color: white;
        }
        
        .btn-delete {
            background-color: rgba(209, 23, 48, 0.8);
            color: white;
        }
        
        .btn-edit {
            background-color: rgb(47, 129, 223);
            color: white
        }
        
        .custom-dialog-container .mat-dialog-container {
            padding: 0;
        }
        
        .mat-dialog-title {
            background-color: rgba(32, 79, 122, 0.8);
            width: 100%;
            height: 50px;
            color: white;
            margin-top: -30px 0 10px 0 !important;
            align-items: center;
            display: inline;
        }