        // Custom Theming for Angular Material
        // For more information: https://material.angular.io/guide/theming
        @import '~@angular/material/theming';
        // Plus imports for other components in your app.
        // Include the common styles for Angular Material. We include this here so that you only
        // have to load a single css file for Angular Material in your app.
        // Be sure that you only ever include this mixin once!
        @include mat-core();
        // Define the palettes for your theme using the Material Design palettes available in palette.scss
        // (imported above). For each palette, you can optionally specify a default, lighter, and darker
        // hue. Available color palettes: https://material.io/design/color/
        $store-inventory-primary: mat-palette($mat-indigo);
        $store-inventory-accent: mat-palette($mat-pink, A200, A100, A400);
        // The warn palette is optional (defaults to red).
        $store-inventory-warn: mat-palette($mat-red);
        // Create the theme object. A theme consists of configurations for individual
        // theming systems such as "color" or "typography".
        $store-inventory-theme: mat-light-theme(( color: ( primary: $store-inventory-primary, accent: $store-inventory-accent, warn: $store-inventory-warn, )));
        // Include theme styles for core and each component used in your app.
        // Alternatively, you can import and @include the theme mixins for each component
        // that you are using.
        @include angular-material-theme($store-inventory-theme);
        /* You can add global styles to this file, and also import other style files */
        
        html,
        body {
            height: 100%;
        }
        
        body {
            margin: 0;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        
        h1 {
            font-size: large;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: rgb(67, 98, 167);
        }
        
        .container-principal {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .container-secundario {
            width: 96%;
            height: 97%;
            background: rgba(255, 255, 255, 0.144);
            -webkit-box-shadow: 0px 0px 10px 2px rgba(194, 194, 194, 1);
            -moz-box-shadow: 0px 0px 10px 2px rgba(194, 194, 194, 1);
            box-shadow: 0px 0px 10px 2px rgba(194, 194, 194, 1);
        }
        
        .mat-checkbox-ripple .mat-ripple-element,
        .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: rgba(32, 79, 122, 0.8);
        }
        
        .btn-save {
            background-color: rgba(70, 168, 24, 0.8);
            color: white;
        }
        
        .btn-delete {
            background-color: rgba(209, 23, 48, 0.8);
            color: white;
        }
        
        .btn-edit {
            background-color: rgb(47, 129, 223);
            color: white
        }
        
        .custom-dialog-container .mat-dialog-container {
            padding: 0;
        }
        
        .mat-dialog-title {
            background-color: rgba(32, 79, 122, 0.8);
            width: 100%;
            height: 50px;
            color: white;
            margin-top: -30px 0 10px 0 !important;
            align-items: center;
            display: inline;
        }
        
        .row {
            margin: 1%;
            // display: flex-direction;
            align-items: stretch;
        }